* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: #1f1b11;
}

html, body {
    height: 100%;
}

#stage {
    position: fixed;
    inset: 0;
    display: grid;
    align-items: start;
    justify-items: start;
    overflow: hidden;
    padding-top: 2%;
    height: 100vh;
    max-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 210px 210px 315px 115px;
    width: 750px;
    height: 850px;
    margin: 0;
    background-color: #9f854b;
    transform-origin: top left;
}

.estante {
    grid-area: 1 / 1 / span 3 / span 2;
    display: grid;
    grid-template-rows: 206px 102px 100px 102px 100px;
    background: url("../imagens/estanteat1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#pentateuco {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 11.5%;
    width: 76%;
}

#historicos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 11.5%;
    width: 76%;
}

#poeticos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 11.5%;
    width: 76%;
}

#pmaiores {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 11.5%;
    width: 76%;
}

#pmenores {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 11.5%;
    width: 76%;
}

.box {
    display: inline-flex;
    align-items: center;
    margin: 0.5%;
    width: 33px;
    height: 63px;
    background-color: #534a35;
    opacity: 0.2;
    border: solid 1px #000000;
    box-shadow: 3px 2px rgb(37, 22, 5);
}

.box:hover {
    /*droppable-hover = tranformação da cx de receber elemento quando o mouse passa por ela*/
    border-width: 2px;
    transform: scale(1.3);
}

#obs {
    grid-area: 1 / 3 / span 1 / span 1;
    padding-left: 5%;
    margin-top: 20%;
}

h4 {
    font-family: "Palatino Linotype";
    color: rgba(0, 0, 0, 0.818);
    font-size: 17px;
    line-height: 1.1rem;
    font-style: oblique;
}

h5 {
    font-family: "Palatino Linotype";
    color: rgb(4, 3, 0);
    font-size: 12px;
    height: 19px;
}

#boxdrag {
    grid-area: 2 / 3 / span 1 / span 1;
    transition: opacity 0.2s;
    padding: 0 16% 0 6%;
}

.draggable {
    width: 40px;
    margin: 10% auto;
}

.livro {
    width: 40px;
    position: absolute;
    border: 1px solid transparent;
}

.livro:hover {
    border-width: 2px;
    transform: scale(1.1);
    /*Quando o mouse passa em cima do elemento a ser movido, ele aumenta seu tamanho em 10%*/
    cursor: move;
    /*muda o tipo do cursor - neste caso para mover o elemento*/
}

#titulo-apocrifos {
    margin: 0 36% 9% 7%;
}

#livrosapocrifos {
    grid-area: 3 / 3 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    /* mantém uma embaixo da outra */
    align-items: center;
    /* centraliza horizontalmente */
}

.boxapocrifos {
    display: grid;
    place-items: center;
    width: 85px;
    height: 28px;
    margin-top: 6px;
    background-color: #534a35;
    opacity: 0.7;
    border: solid 1px #241d0e;
    box-shadow: 3px 2px black;
}

#Marcatempo {
    grid-area: 4 / 1 / span 1 / span 1;
    background-color: rgb(182, 114, 13);
    width: 100px;
    height: 75px;
    font-size: 20px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-radius: 8px;
    border: solid 4px black;
    justify-self: center;
    /* centraliza horizontalmente */
    align-self: center;
    /* centraliza verticalmente */
    padding: 2%;
}

#Marcapontuacao {
    grid-area: 4 / 2 / span 1 / span 1;
    background-color: rgb(182, 114, 13);
    width: 100px;
    height: 75px;
    font-size: 20px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-radius: 8px;
    border: solid 4px black;
    justify-self: center;
    /* centraliza horizontalmente */
    align-self: center;
    /* centraliza verticalmente */
    padding: 2%;
}

#sair-salvar {
    grid-area: 4 / 3 / span 1 / span 1;
    background: rgb(182, 114, 13);
    width: 190px;
    height: 70px;
    font-size: 26px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    border-radius: 8px;
    border: outset 5px rgb(252, 237, 177);
    justify-self: center;
    /* centraliza horizontalmente */
    align-self: center;
    /* centraliza verticalmente */
}

#sair-salvar:hover {
    cursor: pointer;
    background: rgb(229, 164, 65);
    transform: scale(110%);
}